@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model IEnumerable<ZooSite.Models.Photo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Index</h2>
<h1 class="main-title">Zoo Attractions</h1>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="photo-index-card">
            @if (item.PhotoFileName != null)
            {
                <div class="image-wrapper">
                    <img class="photo-display-img" src="@Url.Action("GetImage", "Zoo", new { PhotoId = item.PhotoID })" />
                </div>
            }
            <h3 class="display-picture-title">
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <div>
                <span class="display">
                    @Html.DisplayFor(model => item.Description)
                </span>
            </div>
        </div>
    }
</div>
